__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
env/
venv/
ENV/
*.egg-info/
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.idea/
.vscode/

*.schem
*.schematic

schem_normalizer.exe
